html, body {
    width: 100%;
    height: 95%;
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    font-size: 14px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

#menu {
    position: absolute;
    width: 12em;
    background: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding-bottom: 10px;
    z-index: 2
}

#menu ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

#map {
    width: 100%;
    height: 90%;
}

input {
    width: 10em;
}