<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en"
      xsi:schemaLocation="http://www.thymeleaf.org/dandelion/datatables
http://www.thymeleaf.org/dandelion/datatables ">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Monopoly profile</title>
</head>
<body>

<!--/*@thymesVar id="player" type="java.lang.String"*/-->
<p th:text="'Player: ' +  ${player}"></p>
<p th:if="${name}" th:text="'Name: ' + ${name}"></p>
<!--/*@thymesVar id="city" type="java.lang.String"*/-->
<p id="city" th:if="${city}" th:text="'City: ' +  ${city}"></p>
<!--/*@thymesVar id="avatar_url" type="java.lang.String"*/-->
<img th:if="${avatar_url}" height="150" th:src="${avatar_url}">

<h2> Friends: </h2>
<table border="1" dt:table="true">
    <tbody>
    <!--/*@thymesVar id="friends" type="java.util.List"*/-->
    <tr th:each="friend : ${friends}">
        <td><img height="80" th:src="${friend[0]}"></td>
        <td th:text="${friend[1]}"></td>
        <td th:text="${friend[2]? 'Online' : 'Offline'}"></td>
    </tr>
    </tbody>
</table>
<input id="friend_nickname" type="text" title="Nickname">
<button onclick="onAddFriendClick()"> Add friend</button>


<button onclick="onCreateRoomClick()">Create room</button>

<script>

    var friendNickname = document.getElementById("friend_nickname");

    function onAddFriendClick() {
        $.post('/player/add_friend?nickname=' + friendNickname.value, function (data) {
            alert(data);
        })
    }

    function onCreateRoomClick() {
        $.post("/rooms/create", function (data) {
            $(location).attr('href', '/rooms/' + data);
        });
    }

    var id = null;

    $.get('/player/id', function (data) {
        id = data;
    });


    var socket = new SockJS('/lobby');
    var stompClient = Stomp.over(socket);


    stompClient.connect({}, function () {
        stompClient.subscribe('/topic/invite/' + id, onMessageReceived);
    });

    function onMessageReceived(payload) {
        alert("Invited");
        var msg = JSON.parse(payload.body);
        if (confirm("Player " + msg.from + " invite you. Join?")) {
            $(location).attr('href', msg.url);
        }
    }
</script>
</body>
</html>